
// Required
@import "../scss/functions.scss";
@import "helper/variables";
@import "../scss/mixins";

// Optional
@import "../scss/reboot";
@import "../scss/grid";
@import "../scss/navbar";
@import "../scss/utilities";
@import "layout.scss";

.bg-cover{  
  background-size: cover;
  background-position: center center;
  position: relative;
}
.headimg{
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;  
}
.tag{
  width:36px;
  height:106.73px;
  position: absolute;
  top:0px;
  left: 20px;
  z-index: 2;  
  p{      
    writing-mode: vertical-rl;  
    letter-spacing: 3px;  
  }
}










 
 





