
@import "layout.scss";

.headimg{
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;  
}
.tag{
  width:36px;
  height:106.73px;
  position: absolute;
  top:0px;
  left: 20px;
  z-index: 2;  
  p{      
    writing-mode: vertical-rl;  
    letter-spacing: 3px;  
  }
}

.heart{
  width:20px;
  height:20px;
  position: absolute;  
  top: 20px;
  right: 20px;
}










 
 





